<!DOCTYPE html>
<html>
<head>
    <title>Holiday Finder Application</title>
    <style>
        * {
            font-size: 40px;
        }
        body {
            background-color: cyan;
        }
	.nav a {font-size : 6v;}

    </style>
</head>
<body>
    <center>
        <h1> Holidays of Year 2024</h1>
        <h2 style="background-color : black ; color : white;  width : 85%; border-radius : 20px; font-size : 60px;
 font-family : Times New Roman;"> {{  msg  }} </h2>  
	<div class="nav">
	<a href="{%  url  'home'  %}"> Home </a>
	</div>
<br><br>
<footer>
<h2 style="color: white; background-color: black;  text-align: center; display: flex; justify-content: space-between;">
    <span style="text-align: center;">Name ~ Sanskar Gawade </span>
    <span style="text-align: right;"> Enrollment No ~ 03160923</span>
</h2>

    </center>
</body>
</html>
